/* MISC */
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

@media screen and (max-width: 620px) {
  .contact__section {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%; }
  .destinations__sec-peru, .destinations__sec-brasil, .destinations__sec-argentina {
    display: flex;
    flex-wrap: wrap; }
  .destinations__sec-brasil {
    display: flex;
    flex-wrap: wrap; }
  .destinations__sec-argentina {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 700px) {
  main .galery__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    grid-gap: 1rem; } }

@media screen and (max-width: 933px) {
  .us .us__section-atencion {
    display: flex;
    flex-direction: column; }
  .us .us__section-bio {
    display: flex;
    flex-direction: column; }
  .us .us__section-confort {
    display: flex;
    flex-direction: column; } }

/* PARTIALS */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
  font-size: 1.7rem; }

.nav-link:hover {
  background-color: #CAF0F8; }

.footer {
  bottom: 0;
  padding: 2rem;
  background-color: #0077B6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.footer__ul, .redes__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif; }

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 1.5em; }

.footer__article {
  padding: 2rem; }

.footer__paragraph1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.5em; }

.footer__paragraph2 {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.redes__icon {
  width: 40px;
  height: 30px; }

.redes__icon:hover {
  transform: scale(2.1); }

/* PAGES */
body {
  position: relative; }

.home__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/caribean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.home__title, .home__subtitle {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  align-items: flex-start;
  font-size: 5em; }

.home__text {
  color: white;
  font-size: 2em;
  padding: 2rem; }

.pages__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 4em; }

.us__principal {
  background-color: #CAF0F8; }

.us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #CAF0F8;
  padding: 3rem; }

.us__title {
  text-align: center;
  font-family: serif;
  text-decoration-style: dashed;
  color: green;
  font-size: 3em;
  text-decoration: underline; }

.us__text {
  font-family: sans-serif;
  font-size: 1.7em;
  padding-left: 1rem;
  margin: 0; }

.us__section-confort {
  background-color: #CAF0F8;
  display: flex;
  padding-left: 3rem;
  padding-bottom: 2rem; }

.us__section-atencion {
  display: flex; }

.us {
  flex-direction: column; }

.us__section-bio {
  display: flex; }

.bio__info, .confor__info {
  display: flex; }

.destinations__subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  text-align: center;
  color: white;
  background-color: black; }

.destinations__sec-peru, .destinations__sec-brasil, .destinations__sec-argentina {
  background-color: #CAF0F8;
  padding: 1rem;
  display: flex; }

.destinations__art-peru, .destinations__art-brasil, .destinations__art-argentina {
  padding-bottom: 1rem;
  align-content: center;
  border: 1em solid black;
  width: 100%; }

.destinations__peru-art2, .destinations__brasil-art2, .destinations__argentina-art2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.text__peru, .text__brasil, .text__argentina {
  text-align: center;
  font-family: serif;
  font-size: 1.5em;
  padding: 1rem; }

.galery__content {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 2rem;
  padding: 2rem; }

.galery__content .galery__img picture {
  width: 100%;
  height: 100%; }

.galery__content .galery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galery__content .galery__img:nth-of-type(3) {
  grid-row-end: span 2; }

.galery__content .galery__img:nth-of-type(6) {
  grid-row-start: span 2; }
