.us{
    padding: 40px 0;
    overflow: hidden;
    margin-top: 5rem;
  }
.post-entry-1 {
    margin-bottom: 30px;
  }
  .post-entry-1 img {
    margin-bottom: 30px;
  }
  .post-entry-1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 500;
  }
  .post-entry-1 h2 a {
    color: var(--color-black);
  }
  .post-entry-1.lg h2 {
    font-size: 40px;
    line-height: 1;
  }
  
  .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-secondary);
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
}
.page__title{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
}
.us__p{
    font-family: sans-serif;
    font-size: 1.5em;
}