.home__page{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategrey;   
    &__main{
        display: flex;
        flex-direction: column;
        background-image: url("../images/caribean.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;  
        height: 500px;
        color: whitesmoke; 
    }
    &__title{
        font-family: var(--title);
        text-align: center;
        font-size: 60px;
    
    }
    &__subtitle{
        text-align: center;
    }
}